*.suo
*.cache
*.exe
*.pdb
*.class
*.FileListAbsolute.txt
D:\DJ\AI_501_4\python_work\alone_ml_dl\chap7\dogs-vs-cats.zip
D:\DJ\AI_501_4\python_work\alone_ml_dl\chap7\dogs-vs-cats\test1.zip
D:\DJ\AI_501_4\python_work\alone_ml_dl\chap7\dogs-vs-cats\train.zip