<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1(menu='todo')}">
<title layout:fragment="title">todo</title>
<th:block layout:fragment="script">
    <script>
        function del_func(id){
            var params = {
                name   : '123123',
                content : 'contentcontent'
            }
            $.ajax({
                type : "delete",
                url : "/todo/delete",
                data : params,
                success : function(res,txt){
                    alert(res);
                    alert(res.code);
                    alert(txt);
                    $('#cont').append("<p>"+res.code+"</p>");
                },
                error : function(request, textStatus, err){
                    alert("통신 실패."+request);
                    alert("통신 실패."+textStatus);
                    alert("통신 실패."+err);
                }
            });
        }
    </script>
</th:block>
<th:block layout:fragment="css">
    <style>
        *{
            font-size:1.5rem;
        }
    </style>
</th:block>
<div layout:fragment="content" class="container" id="cont">
    <h1>todo selectall.html</h1>
    <h1>할일</h1>
    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">추가</button>
    </div>
    <div th:each="obj:${list}">
        <div>
            <span>순번</span><span th:text="${obj.id}">순번</span>
        </div>
        <div style="overflow:hidden; background-color:gray;">
            <div class="p-2"
                 style="float:left;">
                <p th:text="${obj.content}">중간에 나오는거</p>
            </div>
            <div style="float:right;
                        margin-right:10px;
                        margin-top:10px;">
                <button
                        th:onclick="|del_func(${obj.id})|"
                        id="del"
                        type="button"
                        class="btn btn-primary">삭제</button>
            </div>
        </div>
        <div style="display: flex;
                  align-items: center;
                  justify-content: flex-end;">
            <span th:text="${#temporals.format(obj.wdate, 'yyyy년 MM월 dd일')}">날짜</span>
        </div>
    </div>
    <!-- The Modal -->
    <div class="modal" id="myModal">
        <form th:action="@{/todo/insert}" method="post">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">할일추가</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <textarea class="form-control" name="content"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">닫기</button>
                        <button type="submit" class="btn btn-primary">확인</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</html>