<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1(menu='todo')}">
<title layout:fragment="title">todo</title>
<th:block layout:fragment="script">
    <script>

    </script>
</th:block>
<th:block layout:fragment="css">
    <style>
        *{
            font-size:1.5rem;
        }
    </style>
</th:block>
<div layout:fragment="content" class="container">
    <h1>todo selectall.html</h1>
    <h1>할일</h1>
    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">추가</button>
    </div>
    <div th:each="obj:${list}">
        <!-- display inline 속성은 옆으로.. 나오는거 span 기본값이 inline-->
        <!-- display block 속성은 밑으로.. 나오는거 div 기본값이 block-->
        <span>순번</span> <span th:text="${obj.id + 1}">순번</span>
        <div th:text="${obj.content}"
             class="p-2"
             style="width:100%;
                    background-color:gray;">
            중간에 나오는거
        </div>
        <div style="display: flex;
                  align-items: center;
                  justify-content: flex-end;">
            <span th:text="${#temporals.format(obj.wdate, 'yyyy년 MM월 dd일')}">날짜</span>
        </div>
    </div>
    <!-- The Modal -->
    <div class="modal" id="myModal">
        <form th:action="@{/todo/insert}" method="post">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">할일추가</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <textarea class="form-control" name="content"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">닫기</button>
                        <button type="submit" class="btn btn-primary">확인</button>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>
</html>