<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.4">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AA</display-name>
    <servlet-name>AA</servlet-name>
    <servlet-class>aa.bb.cc.AA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AA</servlet-name>
    <url-pattern>/AA</url-pattern>
  </servlet-mapping>
</web-app>
<!-- 
	web.xml 
	varsion = 2.4
	displayname 삭제하고
	
	프로젝트 properties 속성... project facets -> 자바 버전 11로바꾸기
 -->