<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<th:block layout:fragment="script">
    <script>
        $('docuemnt').ready(function(){
        });
    </script>
</th:block>
<th:block layout:fragment="css">
    <style>
    *{
        font-size:1.5rem;
    }
    </style>
</th:block>
<div layout:fragment="content" class="container">
    <h1>selectall.html</h1>
    <h1>회원목록</h1>
    <div>총 page개수 : <span th:text="${members.totalPages}">3</span> </div>
    <div>총 row개수 :  <span th:text="${members.totalElements}">3</span>  </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>id</th>
                <th>email</th>
                <th>pwd</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="mem:${members}">
                <td th:text="${mem.id}">1</td>
                <td><a th:text="${mem.email}" th:href="@{update(id=${mem.id})}">aa@naver.com</a></td>
                <td th:text="${mem.pwd}">1234</td>
            </tr>
        </tbody>
    </table>
    <a href="insert" class="btn btn-primary">insert</a>
    <!--
        왼쪽
        justify-content-center 중간정렬
        justify-content-end 오른쪽정렬...

    
        1. email 검색
        2. delete 만들기..
    -->
    <div class="d-flex justify-content-center">
        <ul class="pagination">
            <li class="page-item" th:classappend="${members.pageable.pageNumber == 0} ? 'disabled'">
                <a class="page-link" th:href="@{/members/selectall(pageNum=${members.pageable.pageNumber-1})}" href="#">Previous</a>
            </li>
            <li class="page-item" th:classappend="${members.pageable.pageNumber+1 == i} ? 'active'" th:each="i:${#numbers.sequence(1,members.totalPages)}">
                <a class="page-link" href="#" th:href="@{/members/selectall(pageNum=${i-1})}" th:text="${i}">1</a>
            </li>
            <li class="page-item" th:classappend="${members.pageable.pageNumber == members.totalPages -1} ? 'disabled'">
                <a class="page-link" href="#" th:href="@{/members/selectall(pageNum=${members.pageable.pageNumber+1})}">Next</a>
            </li>
        </ul>
    </div>
</div>
</html>