<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1(menu='members')}">
<title layout:fragment="title">members</title>
<th:block layout:fragment="script">
    <script>
        $('docuemnt').ready(function(){
            $('#deletebtn').on('click',function(){
                var result = confirm('삭제 하시겟습니까?');
                if(result){
                    $('#frm').submit();
                }
            });
        });
    </script>
</th:block>
<th:block layout:fragment="css">
    <style>
    *{
        font-size:1.5rem;
    }
    </style>
</th:block>
<div layout:fragment="content" class="container">
    <h1>selectall.html</h1>
    <h1>회원목록</h1>
    <div>총 page개수 : <span th:text="${members.totalPages}">3</span> </div>
    <div>총 row개수 :  <span th:text="${members.totalElements}">3</span>  </div>
    <form action="" th:action="@{/members/delete}" id="frm" method="post">
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>id</th>
                <th>email</th>
<!--                <th>pwd</th>-->
            </tr>
        </thead>
        <tbody>
            <tr th:each="mem:${members}">
                <td><input type="checkbox" class="form-control" th:value="${mem.id}" name="id"></td>
                <td th:text="${mem.id}">1</td>
                <td><a th:text="${mem.email}" th:href="@{update(id=${mem.id})}">aa@naver.com</a></td>
<!--                <td th:text="${mem.pwd}">1234</td>-->
            </tr>
        </tbody>
    </table>
    </form>
    <div class="row">
        <div class="col-md-6">
            <a href="insert" class="btn btn-primary">insert</a>
            <button id="deletebtn" type="button" class="btn btn-primary">delete</button>
        </div>
        <div class="col-md-6 my-2">
            <form class="form-inline" action="/members/selectall">
                <input class="form-control mr-3"
                       type="text"
                       placeholder="Email"
                       name="email"
                       th:value="${param.email}">
                <button class="btn btn-success"
                        type="submit">Search</button>
            </form>
        </div>
    </div>
    <!--
        1. menu 활성화
        2. board 만들기
        3. todo 만들기
        4. 로그인하는것..
    -->
    <div class="d-flex justify-content-center">
        <ul class="pagination">
            <li class="page-item" th:classappend="${members.pageable.pageNumber == 0} ? 'disabled'">
                <a class="page-link" th:href="@{/members/selectall(pageNum=${members.pageable.pageNumber-1},email=${param.email})}" href="#">Previous</a>
            </li>
            <li class="page-item" th:classappend="${members.pageable.pageNumber+1 == i} ? 'active'" th:each="i:${#numbers.sequence(1,members.totalPages)}">
                <a class="page-link" href="#" th:href="@{/members/selectall(pageNum=${i-1},email=${param.email})}" th:text="${i}">1</a>
            </li>
            <li class="page-item" th:classappend="${members.pageable.pageNumber == members.totalPages -1} ? 'disabled'">
                <a class="page-link" href="#" th:href="@{/members/selectall(pageNum=${members.pageable.pageNumber+1},email=${param.email})}">Next</a>
            </li>
        </ul>
    </div>
</div>
</html>