<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<th:block layout:fragment="script">
    <script>
        $('docuemnt').ready(function(){
        });
    </script>
</th:block>
<th:block layout:fragment="css">
    <style>
    *{
        font-size:1.5rem;
    }
    </style>
</th:block>
<div layout:fragment="content" class="container">
    <h1>selectall.html</h1>
    <h1>회원목록</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>id</th>
                <th>email</th>
                <th>pwd</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="mem:${members}">
                <td th:text="${mem.id}">1</td>
                <td><a th:text="${mem.email}" th:href="@{update(id=${mem.id})}">aa@naver.com</a></td>
                <td th:text="${mem.pwd}">1234</td>
            </tr>
        </tbody>
    </table>
    <a href="insert" class="btn btn-primary">insert</a>
    <!--
        왼쪽
        justify-content-center 중간정렬
        justify-content-end 오른쪽정렬...
    -->
    <div class="d-flex justify-content-center">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </div>
</div>
</html>