<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1(menu='members')}">

<th:block layout:fragment="script">
    <script>
        $('docuemnt').ready(function(){
            var errorMessage = "[[${errorMessage}]]";
            if( errorMessage != ""){
                alert(errorMessage);
            }
        });
    </script>
</th:block>
<th:block layout:fragment="css">
    <style>
    *{
        font-size:1.5rem;
    }
    </style>
</th:block>
<div layout:fragment="content" class="container">
    <h1> update.html </h1>
    <h1> 수정 화면 </h1>
    <a href="selectall" class="btn btn-primary">list</a>
    <form action="update" method="post" th:object="${memberFormDto}">
        <input type="hidden" name="id" th:field="*{id}">
        <div class="form-group">
            <label for="email">Email address:</label>
            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="fieldError">error</p>
<!--            <span th:text="${errorMessage}"></span>-->
            <input type="email"
                   class="form-control"
                   placeholder="Enter email"
                   id="email"
                   name="email"
                   th:field="*{email}">
        </div>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <p th:if="${#fields.hasErrors('pwd')}"  th:errors="*{pwd}" class="fieldError">error</p>
            <input type="password"
                   class="form-control"
                   placeholder="Enter password"
                   id="pwd"
                   name="pwd"
                   th:field="*{pwd}">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</html>