<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header(menu)">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${menu =='main'} ? 'active'" href="/main">Main</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${menu =='members'} ? 'active'" href="/members/selectall">member</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${menu =='board'} ? 'active'" href="/board">board</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${menu =='todo'} ? 'active'" href="/todo/selectall">todo</a>
                </li>
            </ul>
        </div>
        <form class="form-inline" action="">
            <input class="form-control mr-md-2" type="text" placeholder="Search">
            <button class="btn btn-success" type="submit">Search</button>
        </form>
    </nav>
</div>
</html>