<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="members">
	<select id="selectall" resultType="chap09.member.MemberDto" parameterType="chap09.member.MemberPage">
		select * from member 
		order by idx desc
		limit #{pageNumber},5
	</select>
	<insert id="insert" parameterType="chap09.member.MemberDto">
		insert into member 
		(email,pwd,gender,wdate)
		values
		(#{email},#{pwd},#{gender},#{wdate})
	</insert>
	<select id="selectone" parameterType="int" resultType="chap09.member.MemberDto">
		select * from member
		where idx = #{idx}
	</select>
	<update id="update" parameterType="chap09.member.MemberDto">
		update member
			set 
				email = #{email},
				gender = #{gender},
				pwd = #{pwd},
				wdate = #{wdate}
		where idx = #{idx}
	</update>
	<delete id="delete" parameterType="hashmap">
		delete from member
		where idx in
		<foreach collection="idxs" item="idx" open="(" close=")" separator=",">
			#{idx.value}
		</foreach>
	</delete>
	<!-- 민간 업체 쿠팡 jpa, 공공기관si mybatis  -->
	<!-- ibatis <- mybatis, jpa -> hibernate -->
	
	<select id="selectrowcount" resultType="int">
		SELECT COUNT(*) FROM member;
	</select>
</mapper>












