<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1(menu='board')}">

<th:block layout:fragment="script">
    <script>
        function deletebtn(boardtail_id, board_id){
            var result = confirm('삭제하시겠습니까?');
            console.log(boardtail_id);
            console.log(board_id);
            if (result ==true){
                var params = {
                    boardtail_id  : boardtail_id
                }
                $.ajax({
                    type : "delete",
                    url : "/boardtail/delete",
                    data : params,
                    success : function(res,txt){
                        if(res.code =='ok'){
                            location.href='/board/view?id='+board_id;
                        }
                        if(res.code =='fail'){
                            console.log('fail');
                        }
                    },
                    error : function(request, textStatus, err){
                        alert("통신 실패."+request);
                        alert("통신 실패."+textStatus);
                        alert("통신 실패."+err);
                    }
                });
            }
        }
    </script>
</th:block>
<th:block layout:fragment="css">
    <style>
    *{
        font-size:1.5rem;
    }
    </style>
</th:block>
<div layout:fragment="content" class="container">
    <h1> 글작성 </h1>
    <h1> view.html </h1>
    <div class="clearfix mb-1">
        <a href="selectall" class="btn btn-primary float-left">list</a>
        <a href="update" class="btn btn-primary float-right">update</a>
    </div>
    <div class="clearfix mb-1">
        <div class="rounded shadow p-1 mb-1 bg-white float-left alert alert-success" style="width:50%;">
            <p>글제목</p>
            <p th:text="${board.title}"></p>
        </div>
        <div class="rounded shadow p-1 mb-1 bg-white float-right text-right alert alert-success" style="width:35%;">
            <span>글작성자</span>
            <span th:text="${board.name}"></span>
        </div>
    </div>
    <div class="rounded shadow p-1 mb-1 bg-white" style="background-color:#ccc;" >
        <span>글내용</span>
        <p th:text="${board.content}"></p>
    </div>
    <hr>
    <div class="mt-5" ><!--style="margin-top:1rem"-->
        댓글내용
    </div>
    <div th:each="boardtail : ${board.boardTailList}" class="rounded shadow p-1 mb-1 bg-white">
        <div class="clearfix">
            <div class="float-left rounded shadow p-1 mb-1 bg-white">
                <span th:text="${boardtail.content}"></span>
            </div>
            <div class="float-right rounded shadow p-1 mb-1 bg-white">
                <button type="button" class="btn btn-outline-secondary" th:onclick="deletebtn([[${boardtail.id}]],[[${board.id}]])">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
                    </svg>
                </button>
            </div>
        </div>
        <div class="clearfix">
            <div class="float-right rounded shadow p-1 mb-1 bg-white">
                <span>댓글작성자</span>
                <span th:text="${boardtail.name}"></span>
            </div>
        </div>
    </div>
    <div class="rounded shadow p-1 mb-1 bg-white">
        <form th:action="@{/boardtail/insert}" class="form-group" method="post" th:object="${boardTailFormDto}">
            <input type="hidden" name="board_id" th:value="${board.id}">
            <div>
                <label for="name">작성자</label>
                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="alert alert-danger">작성자 짤음</p>
                <input id="name" name="name" class="form-control" th:field="*{name}">
            </div>
            <div class="mb-1">
                <label for="content">댓글내용</label>
                <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="alert alert-danger">sodyd 짤음</p>
                <textarea class="form-control" id="content" name="content" th:field="*{content}"></textarea>
            </div>
            <input class="btn btn-primary" type="submit" value="댓글저장">
        </form>
    </div>
<!--    insert into board_tail-->
<!--    (-->
<!--        board_id(fk), content, name, wdate, boardtail_id(pk)-->
<!--    )-->
<!--    values-->
<!--    (   1, '좋아요....', '홍길동매니아2', '2022-03-14T10:01:46.583+0900', 3);-->

<!--    insert into board_tail -->
<!--    (board_id, content, name, wdate, boardtail_id) -->
<!--    values -->
<!--    (4, 'ㅂㅈㄷㄱㅂㅈㄷㄱ국민대통합', 'ㅂㅈㄷㄱ매니아', '2022-03-14T10:05:01.689+0900', 5);-->

<!--    select -->
<!--    board0_.board_id as board_id1_1_0_, board0_.content as content2_1_0_, board0_.name as name3_1_0_, -->
<!--    board0_.title as title4_1_0_, board0_.wdate as wdate5_1_0_ -->
<!--    from board board0_ -->
<!--    where board0_.board_id=1;-->

<!--    select -->
<!--    boardtaill0_.board_id as board_id5_2_0_, boardtaill0_.boardtail_id as boardtai1_2_0_,-->
<!--    boardtaill0_.boardtail_id as boardtai1_2_1_,-->
<!--    boardtaill0_.board_id as board_id5_2_1_, boardtaill0_.content as content2_2_1_,-->
<!--    boardtaill0_.name as name3_2_1_, boardtaill0_.wdate as wdate4_2_1_ -->
<!--    from board_tail boardtaill0_ -->
<!--    where boardtaill0_.board_id=1;-->


</div>
</html>