<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="todo">
	<insert id="insert" parameterType="chap09.todo.TodoDto">
		insert into todo
		(todo,wdate)
		values
		(#{todo},#{wdate})
	</insert>
	
	<select id="selectall" resultType="chap09.todo.TodoDto">
		select * from todo
		order by idx desc
	</select>
</mapper>