<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<th:block layout:fragment="script">
    <script>
        $('docuemnt').ready(function(){
            // alert('들어왔나...');
        });
    </script>
</th:block>
<th:block layout:fragment="css">
    <style>
    *{
        font-size:1.5rem;
    }
    </style>
</th:block>
<div layout:fragment="content" class="container">
    <h1> main.html </h1>
</div>
</html>